@charset "utf-8";
@import "../color.scss";

.edit-task {
  width: 1000px;
  margin: 0 auto;
}

.edit-task-form {
  color: $gray;
}

.edit-task-title,
.edit-task-detail {
  width: 300px;
  margin-bottom: 25px;
}

.delete-task-button {
  color: $red;
  border: solid 1px $red;
  width: 80px;
  height: 40px;
  margin: 25px 5px;
  border-radius: 5px;
}

.edit-task-button {
  background-color: $indigo;
  color: $white;
  width: 80px;
  height: 40px;
  border-radius: 5px;
}

.error-message {
  color: $red;
}
