@charset "utf-8";
@import "../color.scss";

.header {
  width: 100%;
  height: 80px;
  background-color: $indigo;
  color: $white;
  display: flex;
  justify-content: space-between;
}

.sign-out-button {
  color: $white;
  margin: auto 25px auto auto;
}
